{% extends 'main.html' %}
{% load static %}


{% block page_content %}
  <div class="contact-page">
        <iframe class="google-map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2945.770149138995!2d25.623146114942532!3d42.411339279183515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a86b6fff9a0713%3A0x1cde7948f07add60!2z0JHQldCg0KHQkNCc0JAg0JXQntCe0JQ!5e0!3m2!1sen!2sbg!4v1674066489938!5m2!1sen!2sbg"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="address">
            <p><span>BERSAMA Ltd.</span></p>
            <p><strong>Адрес: </strong>6006, Стара Загора, ул. Пружинна 9, склад 2</p>
            <p><strong>Mobile: </strong>+359 887 477 358</p>
            <p><strong>E-mail: </strong>sales@bersama.bg, dimitar.kolev@bersama.bg</p>
        </div>

    </div>
{% endblock %}%}