{% extends 'main.html' %}
{% load static %}


{% block page_content %}
  <div class="url-tree">
    <a href="{% url 'home' %}">Начало</a> /
    <a href="{% url 'manufactures-list' %}">Производители</a>
  </div>
  <div class="template-holder">
    <div class="products-container">

      {% for manufarture in manufactures %}

        <a href="{% url 'products-list-by-manufacture' manufarture.name %}">
          <div class="product">
            <img src="{{ manufarture.logo.url }}" alt="No image">
            <div class="product-info-bar">
              <p>{{ manufarture.name }}</p>
            </div>
            <div class="product-info-bar description">
              <p>{{ manufarture.description }}</p>
            </div>
          </div>
        </a>

      {% endfor %}

    </div>

      {% if categories.has_previous or categories.has_next %}

        <div class="paginator">
          {% if categories.has_previous %}
            <a href="?page=1">&#10096;&#10096;</a>
            <a href="?page={{ categories.previous_page_number }}">&#10096;</a>
          {% endif %}
          <span>Page {{ categories.number }} of {{ categories.paginator.num_pages }}</span>
          {% if categories.has_next %}
            <a href="?page={{ categories.next_page_number }}">&#10097;</a>
            <a href="?page={{ categories.paginator.num_pages }}">&#10097;&#10097;</a>
          {% endif %}
        </div>

      {% endif %}

  </div>
{% endblock %}